@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


html {
  height: 100%;  /* Ensure both html and body take full height */
  background: radial-gradient(circle at center, rgba(254, 127, 45, 0.8), rgba(35, 61, 77, 0.9), rgba(31, 42, 55, 1));
}

#app #google-auth {
  background-color: #ff5722;
  color: white;
  border: 3px solid #233D4D;
  font-size: 16px;
  margin-top: 10px;
}

#app #add-card-btn {
  background-color: #233D4D;
  border: 3px solid #dcf8f8;
}

h1 {
  margin-top: 150px;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#navbar-title {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#app {
  padding-top: 20px;
}

body {
  color: #233D4D;
  text-align: center;
  display: flex;        /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center;   /* Center vertically */
  background: transparent;
  padding-top: 100px;
}

#store {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  width: 300px;
  margin: 10px;
  background: #A8D8D8;
  border: 3px solid #233D4D;
  border-radius: 10px;
  padding: 20px;
  color: #233D4D;
  text-align: center;
}